* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&family=Raleway:ital,wght@1,200&display=swap');

.topnav a:hover {
    background-color: rgb(234, 77, 20);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 16px; 
    margin-bottom: 16px; 
    resize: vertical 
}
input[type=submit] {
    background-color: #383838;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color:#ffbc63;
}
.container {
    border-radius: 5px;
    padding-inline: 20%;
}
.contackt{
    position: relative;
}

nav {
    height: 80px;
    background-color:  rgb(39, 39, 39);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
#burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    border-radius: 10%;
}
#nav-links {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 200px;
    background-color:  rgb(39, 39, 39);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0px;
    transition: none;
}
#nav-links li {
    list-style: none;
}
#nav-links a {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
}
.footer_links {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    width: 5%;
}
#insta{
width: 60px;
justify-content: center;
margin-left: -17px;
}

.bild1{
    width: 70%;
    height: fit-content;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
#bild2{
display: flex;
height: auto;
width: fit-content;
}
#bild3{
    height: 100%;
    width: 100%;
    display: flex;
}
#burger {
    margin-right: 50px;
    cursor: pointer;
}

.burger_toggle #burger_line_2 {
    opacity: 0;
}

.burger_toggle #burger_line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger_toggle #burger_line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav_active {
    transform: translateY(580px);
}
#grid_wrapper{
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: 80px 80px 550px 550px 550px 550px 80px ;
    grid-template-areas: 
    "na na"
    "he he"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    "fo fo";
}

#grid_wrapper2{
    display: grid;
    grid-template-columns: minmax(200px, 2fr);
    grid-template-rows: 80px 0px 600px  0px ;
    grid-template-areas: 
    "na na"
    "he he"
    "s1 s1"
    "fo fo";
}

#grid_wrapper3{
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: 80px 0px 650px 0px ;
    grid-template-areas: 
    "na na"
    "he he"
    "s1 s1"
    "fo fo";
}

#grid_wrapper4{
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: 80px 0px 450px 450px 450px 0px;
    grid-template-areas: 
    "na na"
    "he he"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "fo fo";
}

#section_1servise{
    grid-area: s1;
    font-family: 'Courier New', Courier, monospace;
    padding-inline: 15%;
    padding-top: 50px;
    background-image: url(../img/foto\ kopiera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
#section_2servise{
    grid-area: s2;
    font-family: 'Courier New', Courier, monospace;
    padding-inline: 15%;
    padding-top: 50px;
    background-image: url(../img/edeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
#section_3servise{
    grid-area: s3;
    font-family: 'Courier New', Courier, monospace;
    padding-inline: 15%;
    padding-top: 50px;
    background-image: url(../img/film\ kopiera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

#section_about1{
    grid-area: s1;
    padding-inline:  10%;
    padding-top: 60px;
    background-image: url(../img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    resize: vertical;
    text-align: center;
}

#section_1contact{
    grid-area: s1;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-image: url(../img/nyc\ kopiera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    text-align: center;
}

#section_1{
    grid-area: s1;
    background-color: rgb(255, 255, 252);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#section_2{
    grid-area: s2;
    background-color: rgb(255, 255, 252);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#section_3{
    grid-area: s3;
    background-color: rgb(255, 255, 252);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#section_4{
    grid-area: s4;
    background-color: rgb(255, 255, 252);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

header{
    grid-area: he;
    background-color: rgb(255, 255, 252);
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
footer{
    grid-area: fo;
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

@media screen and (min-width: 800px) {
    head {
        background-color: rgb(255, 255, 255);
    }
    #burger {
        display: none;
    }
    #grid_wrapper{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 80px 80px 750px 750px 80px ;
        grid-template-areas: 
        "na na"
        "he he"
        "s1 s2"
        "s3 s4"
        "fo fo";
    }
    #grid_wrapper2{
        display: grid;
        grid-template-columns: minmax(200px, 2fr);
        grid-template-rows: 80px 0px 430px  0px ;
        grid-template-areas: 
        "na na"
        "he he"
        "s1 s1"
        "fo fo";
    }
    #grid_wrapper4{
        display: grid;
        grid-template-columns: minmax(200px, 1fr);
        grid-template-rows: 80px 0px 230px 230px 230px 0px;
        grid-template-areas: 
        "na na"
        "he he"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "fo fo";
    }
nav {
    background-color: rgb(255, 255, 252);;
}
#section_about1{
    grid-area: s1;
    padding-inline:  20%;
    padding-top: 60px;
    background-image: url(../img/5.jpg);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold ;
    position: relative;
    resize: vertical;
    display: flex;
    justify-content: center;
    
    
}
#section_1servise{
    grid-area: s1;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-inline: 20%;
    padding-top: 50px;
    background-image: url(../img/foto\ kopiera.jpg);
    background-position: center top;
    color: #ffffff;
}
#section_2servise{
    grid-area: s2;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-inline: 20%;
    padding-top: 50px;
    background-image: url(../img/edeting.jpg);
    color: #ffffff;
}
#section_3servise{
    grid-area: s3;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-inline: 20%;
    padding-top: 50px;
    background-image: url(../img/film\ kopiera.jpg);
    background-position: center top;
    color: #ffffff;
    
}
footer{
    grid-area: fo;
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
#nav-links {
    flex-direction: row;
    height: 80px;
    width: 100%;
    background-color: rgb(39, 39, 39);
    top: 0px;
    right: 0px;
    justify-content: space-around;
    align-items: center;
    transition: none;
}
.nav_active{
    transform: none
}
#insta{
    width: 60px;
    justify-content: center;
    margin-left: -0px;
    }
}